ADF/pipeline/LoadBookingFact.json
{
	"name": "LoadBookingFact",
	"properties": {
		"description": "Load Booking data from MongoDB Collection into Synapse Booking fact table. ",
		"activities": [
			{
				"name": "LookupInLastRunFile",
				"description": "Fetch the last run field from json.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Last_Run_File",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "TranformBookingData",
				"description": "This will transform the booking data.",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LoadingToMongoDB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformDataToSynapse",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"folderPath": "airbnb-data/Synapse-data"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "TriggerStoredProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "TranformBookingData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[airbnb].[BookingAggregation]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LoadingToMongoDB",
				"description": "Loading Data from MongoDB Collection.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupInLastRunFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MongoDbAtlasSource",
						"batchSize": 100,
						"filter": {
							"value": "{\n    \"timestamp\": {\"$gt\": \"@{activity('LookupInLastRunFile').output.firstRow.lastRunTime}\"}\n}",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BookingMongodb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MongoToAdlsStage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SetLastRunTime",
				"description": "Set the last Run Time with current UTC time.",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "TriggerStoredProcedure",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "lastRunTime",
					"value": {
						"value": "@formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "UpdateLastRunTime",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "SetLastRunTime",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "PUT",
					"headers": {
						"Content-Type": "application/json",
						"x-ms-version": "2020-06-12",
						"x-ms-blob-type": "BlockBlob"
					},
					"url": "https://airbnbstoragedata.blob.core.windows.net/airbnb-data/last_run_data/last_run_file.json",
					"body": {
						"value": "@concat('{\"lastRunTime\":\"', variables('lastRunTime'), '\"}')",
						"type": "Expression"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://storage.azure.com/"
					}
				}
			}
		],
		"variables": {
			"currentRunTime": {
				"type": "String"
			},
			"lastRunTime": {
				"type": "String"
			}
		},
		"annotations": []
	}
}