ADF/pipeline/LoadBookingFact.json
{
	"name": "LoadBookingFact",
	"properties": {
		"description": "Load Booking data from MongoDB Collection into Synapse Booking fact table. ",
		"activities": [
			{
				"name": "LoadingMongoDBData",
				"description": "Loading Data from MongoDB Collection.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupInLastRunFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "Bookings"
					},
					{
						"name": "Destination",
						"value": "airbnb-data/booking_stage/"
					}
				],
				"typeProperties": {
					"source": {
						"type": "MongoDbAtlasSource",
						"batchSize": 100,
						"filter": {
							"value": "{\n    \"timestamp\": { \"$gt\": \"@{activity('LookupInLastRunFile').output.firstRow.lastRunTime}\" }\n}\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "FlattenHierarchy"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 4,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "$['_id']['$oid']"
								},
								"sink": {
									"name": "$oid"
								}
							},
							{
								"source": {
									"path": "$['booking_id']"
								},
								"sink": {
									"name": "booking_id"
								}
							},
							{
								"source": {
									"path": "$['property_id']"
								},
								"sink": {
									"name": "property_id"
								}
							},
							{
								"source": {
									"path": "$['customer_id']['$numberInt']"
								},
								"sink": {
									"name": "$numberInt"
								}
							},
							{
								"source": {
									"path": "$['owner_id']"
								},
								"sink": {
									"name": "owner_id"
								}
							},
							{
								"source": {
									"path": "$['check_in_date']"
								},
								"sink": {
									"name": "check_in_date"
								}
							},
							{
								"source": {
									"path": "$['check_out_date']"
								},
								"sink": {
									"name": "check_out_date"
								}
							},
							{
								"source": {
									"path": "$['booking_date']"
								},
								"sink": {
									"name": "booking_date"
								}
							},
							{
								"source": {
									"path": "$['amount']['$numberDouble']"
								},
								"sink": {
									"name": "$numberDouble"
								}
							},
							{
								"source": {
									"path": "$['currency']"
								},
								"sink": {
									"name": "currency"
								}
							},
							{
								"source": {
									"path": "$['property_location']['city']"
								},
								"sink": {
									"name": "city"
								}
							},
							{
								"source": {
									"path": "$['property_location']['country']"
								},
								"sink": {
									"name": "country"
								}
							},
							{
								"source": {
									"path": "$['timestamp']"
								},
								"sink": {
									"name": "timestamp"
								}
							}
						],
						"collectionReference": ""
					}
				},
				"inputs": [
					{
						"referenceName": "BookingMongodb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "MongoToAdlsStage",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupInLastRunFile",
				"description": "Fetch the last run field from json.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Last_Run_File",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "TranformBookingData",
				"description": "This will transform the booking data.",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LoadingMongoDBData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformDataToSynapse",
						"type": "DataFlowReference"
					},
					"staging": {
						"linkedService": {
							"referenceName": "AzureDataLakeStorage1",
							"type": "LinkedServiceReference"
						},
						"folderPath": "airbnb-data/Synapse-data"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "TriggerStoredProcedure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "TranformBookingData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[airbnb].[BookingAggregation]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSynapseAnalytics1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}