ADF/pipeline/LoadBookingFact.json
{
	"name": "LoadBookingFact",
	"properties": {
		"description": "Load Booking data from MongoDB Collection into Synapse Booking fact table. ",
		"activities": [
			{
				"name": "LoadingMongoDBData",
				"description": "Loading Data from MongoDB Collection.",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupInLastRunFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "MongoDbAtlasSource",
						"batchSize": 100,
						"filter": {
							"value": "{\n    \"timestamp\":{\n        \"$gt\":{\n            \"$date\": \"@{activity('LookupInLastRunFile').output.firstRow.lastRunTime}\"\n        }\n    }\n}\n\n",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"copyBehavior": "PreserveHierarchy"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"dataIntegrationUnits": 4
				},
				"inputs": [
					{
						"referenceName": "BookingMongodb",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "BookingStageData",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "LookupInLastRunFile",
				"description": "Fetch the last run field from json.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "Last_Run_File",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "TranformBookingData",
				"description": "This will transform the booking data.",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "LoadingMongoDBData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "TransformDataToSynapse",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			}
		],
		"annotations": []
	}
}